.brewscard-cover{
    border-radius: 5px;
}
.card-description h3{
    font-size: 1.2rem;
    padding: 5px 0 0 0;
}

.card-description{
    margin-bottom: 20px;
}

.card-description svg {
    padding-right: 5px;
    width: 22px;
}
.card-description span{
    padding-top: 5px;
    display: flex;
    align-items: center;
}