.beer-cover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.beer-info{
    display: flex;
    gap: 1px solid black;
}

.tac{
    padding: 0 12px;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;

}

.beer-cover img{
    width: 180px;
    height: auto;
}