h1{
    font-family: "Druk-CondSuper", sans-serif;
    font-style: 2rem;
    font-weight: bold;
}

.brewery-cover{
    border-radius: 0 0 10px 10px;
}

.brew-header{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.brew-title{
    background-image: linear-gradient(transparent, rgba(2, 2, 2, 0.523));
    border-radius: 0 0 20px 20px;
    font-weight: 500;
    z-index: 2;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding-bottom: 45px;
    height: 150px;
    width: 100%;
    color: white;
    padding-left: 10px;
}
.brew-logo{
    position: absolute;
    z-index: 20;
    bottom: -38px;
    padding-left: 10px;
}
.brew-logo img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 2px orange solid;
}
.findAdd-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 0.2px solid rgb(206, 205, 205);
    align-items: center;
    justify-items: center;
    padding-bottom: 25px;
}
.findAdd-menu button, button a{
    background-color: transparent;
    color: black;
}